<launch>
  <node pkg="tf" type="static_transform_publisher"
        name="laser_frame_broadcaster"
        args="0.09 0.0 0.0 0.0 0.0 0.0 /base_link /base_laser 100"
        output="screen"/>
  <node pkg="rosgopigo3" type="servo.py" name="servo">
    <rosparam>
      rate: 20
    </rosparam>
  </node>
  <node pkg="rosgopigo3" type="laserscanner.py"
        name="laserscanner" output="screen">
    <rosparam>
      rate: 20
      dt_sweep: 1
      do_sweep: true
      angle_sweep: 180.0
    </rosparam>
  </node>
</launch>
